h1{
    font-family: 'Roboto Condensed', sans-serif;
    font-size: xx-large;
    color: antiquewhite;
}

h2{
    font-family: 'Roboto Condensed', sans-serif;
    font-size: xx-large;
    color: antiquewhite;
}

body{
    background: #1e1e1e;
}